html, body {
	padding: 0;
	margin: 0;
}
#header {
	padding: 5px;
	margin: 0;
	min-height: 100px;
	border-bottom: 3px solid black;
}
#menu {
	float: left;
	width: 30%;
	font-family: arial;
}
#menu ul li {
	list-style-type: none;
	
}
#body {
	float: left;
	width: 60%;	
}
#modelPhoto {
	float: right;
	padding: 5px;
}
#teamPhoto {
	float: right;
	padding: 5px;
}
#missionStatement {
	text-align: center;
	font-style: italic;
}
#footer {
	padding-top: 30px;
	clear: both;
	font-size: 75%;
	font-style:  italic;
	text-align: center;
}
